<a href="https://colab.research.google.com/github/TantriSeptiana/Pemerograman-Dasar/blob/main/Pertemuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
print(numbers)

# mengubah nilai elemen dalam variabel list
numbers[2] = 51
print(numbers)

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

[23, 43, 15, 34]
[23, 43, 51, 34]
23
43
51
34

In [ ]:
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)
print(numbers)

# mengubah elemen di indeks ke-4
numbers[3] = 4
print(numbers)

# menghapus elemen di indeks ke-2
numbers.pop(2)
print(numbers)

[1, 2, 3, 5]
[1, 2, 3, 4]
[1, 2, 4]

In [ ]:
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

myList[0] #1
myList[1] #"Rumah"
myList[2] #4.5
myList[3] #True
myList[4] #["Kamar mandi", "Kamar tidur"]
myList[4][0] #"Kamar mandi"
myList[4][1] #"Kamar tidur"

print(myList[0])
print(myList[1])
print(myList[2])
print(myList[3])
print(myList[4])
print(myList[4][0])
print(myList[4][1])

1
Rumah
4.5
True
['Kamar mandi', 'Kamar tidur']
Kamar mandi
Kamar tidur

In [ ]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
x = (1, "Polibatam", 1+3j)

print(type(x))

<class 'tuple'>

In [ ]:
x = (5, "Program", 1+3j)

print(x[1])
print(x[0:3])

Program
(5, 'Program', (1+3j))

In [ ]:
x = (5, 'Program', 1+3j)
x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# deklarasi variabel set
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4}
{2, 3}
{1, 4}

In [ ]:
x = {'name': 'Perseus Evans', 'age': 20, 'isMarried': False}

print(type(x))
print(x['name'])

<class 'dict'>
Perseus Evans

In [ ]:
x = {'name': 'Perseus Evans', 'age': 20, 'isMarried': False}
x ['Job']= "Web Developer"

print(x)

{'name': 'Perseus Evans', 'age': 20, 'isMarried': False, 'Job': 'Web Developer'}

In [ ]:
x = {'name': 'Perseus Evans', 'age': 20, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'Perseus Evans', 'age': 20}

In [1]:
x = {'name': 'Perseus Evans', 'age': 20, 'isMarried': False}
x ['name'] = "Tantri"

print(x)

{'name': 'Tantri', 'age': 20, 'isMarried': False}

In [3]:
propertyDetail = {"numFloors": 1, "propertyType": 'Rumah', "hasTerrace": True, "hasGarrage": False}
print(propertyDetail["numFloors"])
print(propertyDetail["propertyType"])
print(propertyDetail["hasTerrace"])
print(propertyDetail["hasGarrage"])

propertyDetail["hasTerrace"] = False
print(propertyDetail["hasTerrace"])

1
Rumah
True
False
False