<a href="https://colab.research.google.com/github/TantriSeptiana/Pemerograman-Dasar/blob/main/Pertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = input("Berapa porsi makan yang anda beli? :")
Nama = input("Siapa Nama Pelanggan? :")

Berapa porsi makan yang anda beli? :3
Siapa Nama Pelanggan? :Tantri

In [ ]:
total = float(input("Berapa porsi makan yang anda beli? : "))
Nama = str(input("Siapa Nama Pelanggan? : "))

Berapa porsi makan yang anda beli? : 5
Siapa Nama Pelanggan? : Tantri

In [ ]:
food = "Kebab"

print("Tantri sedang memesan", food)
print("Tantri sedang memesan "+ food)
print("Tantri sedang memesan %s" % (food))

Tantri sedang memesan Kebab
Tantri sedang memesan Kebab
Tantri sedang memesan Kebab

In [ ]:
nama = "Tantri"
umur = 21
tinggi = 150.5
nilai = 100

print("Nama saya %s" % (nama))
print("Umur saya %d tahun" % (umur))
print("Tinggi saya %f cm" % (tinggi))
print("Nilai dalam heksadesimal %x" % (nilai))
print("Nilai dalam oktal %o" % (nilai))

Nama saya Tantri
Umur saya 21 tahun
Tinggi saya 150.500000 cm
Nilai dalam heksadesimal 64
Nilai dalam oktal 144

In [ ]:
a = 20
b = 5

print("Penjumlahan:", a + b)
print("Pengurangan:", a - b)
print("Perkalian:", a * b)
print("Pembagian:", a / b)

Penjumlahan: 25
Pengurangan: 15
Perkalian: 100
Pembagian: 4.0

In [ ]:
bilangan = 8
hasil = (bilangan > 0) and (bilangan % 2 == 0)
print("Genap dan positif?", hasil)

Genap dan positif? True

In [ ]:
harga_makan = int(input("Berapa harga kebab yang kamu beli? "))
jumlah_makan = int(input("Berapa kebab yang kamu beli? "))
total_makan = harga_makan * jumlah_makan

print(f"Harga makan per porsi = {harga_makan}, totalnya adalah {total_makan}")

Berapa harga kebab yang kamu beli? 15000
Berapa kebab yang kamu beli? 4
Harga makan per porsi = 15000, totalnya adalah 60000

In [ ]:
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60

print(f"Hasil konversi: {jam} Jam, {menit} Menit, {detik} Detik")

Hasil konversi: 1 Jam, 0 Menit, 0 Detik

In [ ]:
total_detik = int(input("Total detik: "))
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 60
detik = sisa_detik % 60

print(f"Hasil konversi: {jam} Jam, {menit} Menit, {detik} Detik")

Total detik: 358200
Hasil konversi: 99 Jam, 30 Menit, 0 Detik

In [ ]:
tugas = 80
uts = 70
uas = 90
nilai_akhir = (0.3 * tugas) + (0.3 * uts) +  (0.4 * uas)

print("Nilai akhir =", nilai_akhir)

Nilai akhir = 81.0

In [ ]:
plc = int(input("Nilai plc: "))
daspro = int(input("Nilai daspro: "))
fluida = int(input("Nilai fluida: "))
pkn = int(input("Nilai pkn: "))
kimia = int(input("Nilai kimia: "))
nilai_mahasiswa = (plc + daspro + fluida + pkn + kimia) / 5
standar_kelulusan = int(input("Standar kelulusan: "))
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan

print(f"Nilai mahasiswa : {nilai_mahasiswa}")
print(f"Apakah mahasiswa lulus? {apakah_lulus}")
print(f"Perlu remedial? {perlu_remedial}")

Nilai plc: 90
Nilai daspro: 85
Nilai fluida: 80
Nilai pkn: 95
Nilai kimia: 80
Standar kelulusan: 70
Nilai mahasiswa : 86.0
Apakah mahasiswa lulus? True
Perlu remedial? False

In [ ]:
belanja = 850000
diskon = (0, 0.1 * belanja)[belanja > 500000]
total_harga = belanja - diskon

print("Total harga setelah diskon = Rp", total_harga)

Total harga setelah diskon = Rp 765000.0

In [ ]:
belanja = int(input("Total belanja: "))
diskon = (0, 0.35 * belanja)[belanja > 1000000]
total_harga = belanja - diskon

print("Total harga setelah diskon = Rp", total_harga)

Total belanja: 2000000
Total harga setelah diskon = Rp 1300000.0