<a href="https://colab.research.google.com/github/TantriSeptiana/Pemerograman-Dasar/blob/main/Tugas_Pertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tahun = int(input("Tahun: "))
kabisat = (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0)
hasil = ("Bukan Tahun Kabisat", "Tahun Kabisat")[kabisat]

print(f"Tahun {tahun} adalah {hasil}")

Tahun: 2004
Tahun 2004 adalah Tahun Kabisat

In [ ]:
# Program Konversi Suhu
celsius_input = input("Celsius: ")

# Konversi Suhu
fahrenheit = (celsius * 9/5) + 32
kelvin = celsius + 273.15
reamur = celsius * 4/5

print(f"Celsius   : {celsius} °C")
print(f"Fahrenheit: {fahrenheit} °F")
print(f"Kelvin    : {kelvin} K")
print(f"Reamur    : {reamur} °Re")

Celsius: 27.5
Celsius   : 27.5 °C
Fahrenheit: 81.5 °F
Kelvin    : 300.65 K
Reamur    : 22.0 °Re

In [1]:
subtotal = int(input("Total belanja: "))
member = True
diskon = (0, 0.15 * subtotal)[(member == True) and (subtotal > 100000)]
harga_setelah_diskon = subtotal - diskon
ppn = 0.11 * harga_setelah_diskon
total = harga_setelah_diskon + ppn

print("Subtotal            :Rp", subtotal)
print("Diskon              :Rp", diskon)
print("Harga setelah diskon:Rp", harga_setelah_diskon)
print("PPN 11%             :Rp", ppn)
print("Total Akhir         :Rp", total)

Total belanja: 150000
Subtotal            :Rp 150000
Diskon              :Rp 22500.0
Harga setelah diskon:Rp 127500.0
PPN 11%             :Rp 14025.0
Total Akhir         :Rp 141525.0